body
	{background-color: #3469E5;
	text-align:center;} 

 .midcenter {
	color: yellow;
	background-color: #1F4396;
 	height:100%;
 	width:50%;
 	margin-right: auto;
 	margin-left: auto;
}

.whitemid {
	background-color: #FFFFFF;
 	height:100%;
 	width:60%;
 	margin-right: auto;
 	margin-left: auto;
}