* {margin: 0;padding:0;text-align:center;}
body{

	text-align:center;
	background-image:url('ho.jpg');
} 
 .midcenter {
	color: white;
	background-color: #164869;
 	width:50%;
 	margin-right: auto;
 	margin-left: auto;
 	text-align: center;
 	
}

.whitemid {
	color: black;
	background-color: #FFFFFF;
 	width:60%;
 	margin-right: auto;
 	margin-left: auto;
 	text-align: center;
}
h1{
	font-family: Bradley Hand ITC





}
.imgs{
	text-align: center;
	margin:10px;
}
