body{

	text-align:center;
	background-image: url("chairhat.jpg");
} 

 .midcenter {
	color: white;
	background-color: #1F4396;
 	height:100%;
 	width:50%;
 	margin-right: auto;
 	margin-left: auto;
}

.whitemid {
	color: black;
	background-color: #FFFFFF;
 	height:100%;
 	width:60%;
 	margin-right: auto;
 	margin-left: auto;
}